@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Here I've used Poppins Google font */

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: ;
}

.first-section h1{
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    padding: 230px 120px 10px;
    color: white;
    
}


.first-section p{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding: 0 250px;
    color: white;
}

.btn a{
     text-decoration: none;
     color: white;
     background-color: #FF5959;
     padding: 20px 30px;
     border-radius: 10px;
     font-size: 20px;
     font-weight: 500;
}

.btn{
    text-align: center;
    margin-top: 70px;
}

.first-section{
    background-image: url(images/human/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

/* .........Head Section Completed....... */

/* .......Donate Today Section Starts.... */

.second-section{
    margin:100px 0;
}

.donate-today h1{
    font-size: 60px;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
}

.donate-today p{
    text-align: center;
    font-size: 19px;
    padding: 0 210px;
}

.money-select{
    display: flex;
    justify-content: center;
    align-items: center;
}

.taka{
    margin: 40px  20px;
    padding: 35px;
    border: 2px solid #e0dada;
    background-color: #e0dada;
    border-radius: 10px;
}

.basic-taka{
    background-color: #FFEEEE;
    border: 3px solid #FF5959;
}

.input-area{
    text-align: center;
    margin-top: 20px;
}

.input-area input{
    border: none;
    font-size: 20px;
}

.divider{
    border: 0;
    border: 1px solid #DADADA;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.donate-btn a{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 17px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

.donate-btn{
    text-align: center;
    margin-top: 50px;
}

/* .....Complete Donate Today Section.... */

/* ....Our Donation Plan Starts..... */


.donation-first-part h1{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.donation-first-part p{
    font-size: 18px;
    margin: 0 250px;
    text-align: center;
    color: #808080;
}



.donation-plan{
    margin: 0 30px;
}

.donation-plan h1{
    margin: 20px 0;
}

.three-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 40px 20px;
    padding: 70px 35px;
}

.card-1{
    background-color: #EDF5F6;
    text-align: justify;
    border-radius: 10px;
}

.card-2{
    background-color: #FFEEEE;
    text-align: justify;
    border-radius: 10px;
}

.card-3{
    background-color: #FFF4D6;
    text-align: justify;
    border-radius: 10px;
}

.third-section{
    margin-bottom: 50px;
}

/* .....Our Donation Plan End...... */

/* Email Subscribe Section Starts */

.newsletter-box h1{
    font-size: 50px;
    text-align: center;
}

.newsletter-box p{
    font-size: 18px;
    text-align: center;
    padding: 10px 580px;
}


.form input[type='text']{
    border: none;
    background-color: #D9D9D9;
    padding: 18px 70px;
    color: black;
}

.form input[type='submit']{
    border: none;
    background-color: #FF5959;
    padding: 18px 40px;
    margin-left: -5px;
}

.form-section{
    margin: 20px 250px;
    padding: 80px 430px;
    background-color: #fff4d6;
    border-radius: 20px;
}

.fifth-section{
    margin-bottom: 120px;
}

/* ........Email Subscription End*/

/* Footer Start */

footer{
    background-color: #0B0D17;
    padding: 5% 0;
}

footer h1{
    color: #FF5959;
    font-size: 40px;
    text-align: center;
}

footer p{
    color: #fff;
    text-align: center;
}